@use "../utils" as *;

.badge-pill {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6em 1.5em; 
  border-radius: rem(100);
  background-color: var(--bg-color, $clr-red-1);
  color: var(--color, white);
}
